{% extends 'backend/baseback.html' %}
{% load static %}
    <!-- End Navbar -->
{% block content %}
    <div class="container py-4 ">
      <div class="row">
        <div class="col-12">
            <div class="card mb-4 boxs">
                <div class="card-header pb-0">
                    <h6>เพิ่มสถานที่รับรถใหม่</h6>
                </div>
                <div class="card-body pb-2">
                    <form role="form" method="POST" action="" enctype="multipart/form-data">
                       {% csrf_token %}




                    <div class="row">

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group ">
                                    <label for="name" class="form-control-label">ชื่อสถานที่</label>
                                    <input class="form-control "  maxlength="30" required type="text" value="{{ add.name }}" name="name" id="name">
                                </div>
                            </div>

                             <div class="col-5">
                                <div class="form-group ">
                                    <label for="name" class="form-control-label">location (แชร์จากGoogle maps)</label>
                                    <input class="form-control "  required type="url" value="{{ add.location }}" name="location" id="type">
                                </div>
                            </div>
                            <div class="col-3">
                                <label for="" class="form-control-label">จังหวัด</label>
                                <select class="form-control" name="province">
                                <option value="{{ add.province.id }}">{{ add.province.name_th }}</option>
                                    {% for p in pv %}
                                    <option value="{{ p.id }}">{{ p.name_th }}</option>
                                    {% endfor %}
                                </select>
                        </div>

                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-6 py-3">
                                <div class="form-group">
                                    <button type="submit" href="#" class="btn btn-success px-4 py-2"><i class="fa fa-save"></i> บันทึก</button>
                                </div>
                            </div>
                        </div>


                </form>

            </div>

        </div>
    </div>
    </div>
        </div>
     {% endblock %}
