{% extends 'backend/baseback.html' %}
{% load static %}
<!-- End Navbar -->
{% block content %}
    <div class="container py-4 ">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 boxs">

                    <div class="card-header pb-0">
                        <div class="row">
                        <div class="col-2 "><h6>เพิ่มรถยนต์ใหม่</h6>

                        </div>
                        <div class="col-8 ">

                        </div>
                        </div>

                    </div>

                    <div class="card-body pb-2">

                        <form role="form" method="POST" action="{% url 'backend_Car_add' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            {% if eror %}
                                <div class="col-lg-4 ">
                                    <div class="alert alert-danger text-white" role="alert">
                                        <strong>ข้อผิดพลาด !</strong> ทะเบียนรถนี้เคยลงทะเบียนในระบบแล้ว!
                                    </div>
                                </div>
                            {% endif %}


                            <div class="row">
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="name" class="form-control-label">ทะเบียนรถ</label>
                                        <input class="form-control " maxlength="8" required type="text" value=""
                                               name="id" id="id">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="name" class="form-control-label">ยี่ห้อรถ</label>
                                        <input class="form-control " maxlength="20" required type="text" value=""
                                               name="brand" id="brand">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="name" class="form-control-label">รุ่น</label>
                                        <input class="form-control " maxlength="30" required type="text" value=""
                                               name="model" id="model">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="name" class="form-control-label ">ประเภท</label>
                                        <select class="form-control " name="type" id="type">
                                            {% for type in types %}
                                                <option value="{{ type.type_id }}">{{ type.type_name }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="name" class="form-control-label ">ที่รับรถ</label>
                                        <select class="form-control " name="add" id="add">
                                            {% for a in add %}
                                                <option value="{{ a.id }}">{{ a.name }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="gear" class="form-control-label ">ประเภทเกียร์</label>
                                        <select class="form-control" name="gear" id="gear">

                                            <option value="เกียร์ออร์โต้">เกียร์ออร์โต้</option>
                                            <option value="เกียร์ธรรมดา">เกียร์ธรรมดา</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="seat" class="form-control-label">จำนวนที่นั่ง</label>
                                        <input class="form-control" max="50" type="number" aria-valuemax="7" value=""
                                               name="seat" id="seat">
                                    </div>
                                </div>

                            </div>


                                <div class="col">
                                    <div class="form-group ">
                                        <label for="price" class="form-control-label">ราคาเช่า/วัน</label>
                                        <input class="form-control" max="100000" type="number" aria-valuemax="7"
                                               value="" name="price" id="price">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group ">
                                        <label for="province" class="form-control-label ">จังหวัด</label>
                                        <select class="form-control" name="province" id="province">

                                            {% for pv in provinces %}
                                                <option value="{{ pv.id }}">{{ pv.name_th }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                                    <div class="row">
                                <div class="col-4">

                                    <label for="image_load" class="form-control-label">รูปภาพ (upload)</label>
                                    <input class="form-control" type="file" value="" name="img" id="img">
                                </div>

                            <input class="form-control " required type="hidden" value="{{ request.session.userId }}"
                                   name="own" id="own">

                                <div class="col-8">
                                <label for="image_load" class="form-control-label">รายละเอียดรถ</label>
                                   <textarea class="form-control" maxlength="800" name="desc" ></textarea>
                            </div>
                        </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <button type="submit" href="#" class="btn btn-success px-3 py-2"><i class="fa fa-save"></i> บันทึก</button>
                                        <a onclick="history.back()" class="btn btn-danger text-white px-3 py-2 ">กลับ <i class="fa fa-close"></i> </a>
                                    </div>
                                </div>
                            </form>


                        </form>

                    </div>
                    <div class="card-footer pb-0">

                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
