{% extends 'backend/baseback.html' %}
{% load static %}
    <!-- End Navbar -->
{% block content %}
    <div class="container py-4 ">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4 boxs">
            <div class="card-header pb-0">
              <h5>Car Types table  <span class="badge badge-xl text-white bg-success" onclick="location.href='{% url 'backend_Type_add' %}';" style="cursor:pointer;">เพิ่มข้อมูล<i class="fa fa-plus-circle"></i></span>
              <span class="badge badge-sm text-white bg-danger" onclick="location.href='/CarRental/backend/'" style="cursor:pointer;" >กลับ<i class="fa fa-close"></i></span></h5>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xl font-weight-bolder opacity-7 ps-2">ชื่อประเภท</th>
                      <th class="text-center text-uppercase text-secondary text-xl font-weight-bolder opacity-7">รูปภาพ</th>
                      <th class="text-center text-uppercase text-secondary text-xl font-weight-bolder opacity-7">CRUD</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for t in type %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">

                          <div class=" d-flex flex-column justify-content-center ">
                            <h6 class="text-center mx-auto text-sm">{{ t.type_id }}</h6>

                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-secondary mb-0">{{ t.type_name }}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <img src="{{ t.picture.url }}" class="avatar me-3" style="width:140px; height: 100px" alt="user1">
                      </td>

                      <td class="align-middle text-center">
                           <span class="badge badge-sm  text-white bg-warning " onclick="location.href='{% url 'backend_Type_edit' t.type_id %}';" style="cursor:pointer;">แก้ไข <i class="fa fa-wrench"></i></span>
                          <span class="badge badge-sm  text-white bg-danger"  onclick="location.href='{% url 'backend_Type_delete' t.type_id %}';" style="cursor:pointer;">ลบ <i class="fa fa-trash"></i> </span>
                      </td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>

    <div class="text-center">
        {% if type.has_other_pages %}
            <div class="btn-group text-center" role="group" aria-label="Item pagination">
                {% if type.has_previous %}
                    <a href="{% url 'backend_Cartype' type.previous_page_number %}" class="btn btn-outline-primary">&laquo;</a>
                {% endif %}

                {% for page_number in type.paginator.page_range %}
                    {% if type.number == page_number %}
                        <button class="btn btn-outline-primary active">
                            <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                        </button>
                    {% else %}
                        <a href="{% url 'backend_Cartype' page_number %}" class="btn btn-outline-primary">
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if type.has_next %}
                    <a href="{% url 'backend_Cartype' type.next_page_number %}" class="btn btn-outline-primary">&raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    </div>


              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
     {% endblock %}
