{% extends 'backend/baseback.html' %}
{% load static %}
    <!-- End Navbar -->
{% block content %}
    <div class="container-fluid py-4 ">

      <div class="row">

        <div class="col-12">

          <div class="card mb-4 boxs">
<h1 class="text-center">ปฎิเสธการเช่า</h1>
            <div class="card-header pb-0">
              <h6>รายละเอียดบิลการเช่า</h6>
                <p>เลขที่การเช่า : {{ rent.rent_id }}  ชื่อผู้เช่า : {{ rent.mem_id.name }}</p>
                 <p>เช่าวันที่ : {{ rent.return_date }}</p>
{% if rent.status == '1' or '2' or '3'%}
                      <span class="badge badge-xl bg-gradient-success text-start"  style="font-size: 15pt">{{ rent.getStatus }} </span>
                    {% endif %}
            </div>

          <div class="row">
              <div class="col-2"></div>
              <div class="col-8">

            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
 <form class="form-control" method="post">
                  {% csrf_token %}
                <table class="table align-items-center mb-0">
                 <h3 class="text-center">รายการเช่ารถ</h3>
                  <thead>
                    <tr>

                      <th class="text-uppercase text-whitetext-xl font-weight-bolder opacity-7 ps-2">เลขทะเบียนรถ</th>
                      <th class="text-center text-uppercase text-whitetext-xl font-weight-bolder opacity-7">ยี่ห้อรถ</th>
                        <th class="text-center text-uppercase text-whitetext-xl font-weight-bolder opacity-7">รุ่น</th>
                        <th class="text-center text-uppercase text-whitetext-xl font-weight-bolder opacity-7">ประเภทรถ</th>
                        <th class="text-center text-uppercase text-whitetext-xl font-weight-bolder opacity-7">ราคา/วัน</th>

                    </tr>
                  </thead>

                  <tbody>



                    <tr>

                      <td>
                         <p class=" mb-0 ">{{ rent.car.car_id }}</p>
                      </td>



                        <td>
                        <p class=" mb-0 text-center">{{ rent.car.brand }}</p>
                      </td>
                         <td>
                        <p class=" mb-0 text-center">{{ rent.car.car_model }}</p>
                      </td>
                        <td>
                        <p class=" mb-0 text-center">{{ rent.car.type_id.type_name }}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class=" mb-0 text-center">{{ rent.car.price }}</p>
                      </td>

                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
                      </div>
              <div class="col-2"></div>
          </div>
    <div class="row">
          <div class="col-6">
<br>
            <br>

                 <div class="row">
                     <div class="col-2"></div>
                            <div class="col-10">
                                <div class="form-group ">
                                    <label for="name" class="form-control-label" style="font-size: 15pt">เหตุผลการยกเลิก</label>
                                    <input class="form-control " style="height: 150px" maxlength="200" required type="text" value="" name="comment" id="comment">
                                </div>
                                <div class="form-group ">
                                   <input class="btn btn-danger" onclick="return confirm('ท่านยืนยันใช่หรือไม่ ?')" type="submit" value="ปฎิเสธการเช่า">

                                    <a class="btn btn-warning" href="{% url 'backend_RentDetails' rent.rent_id %}" >ย้อนกลับ</a>
                                </div>
                            </div>

</div>
                  </form>
          </div>

          <div class="col-6">
    <div class="card-header ">
        <h6>รายละเอียด : </h6>
        <p>รับรถ : <span class="text-warning">{{ rent.rent_date }}</span>   </p>
        <p> คืนรถ : <span class="text-warning">{{ rent.return_date }}</span></p>
        <p>จำนวน : <span class="text-warning">{{ rent.amount }}</span> วัน</p>
        <h6>รวมทั้งสิ้น : <span class="text-danger"> {{ rent.getTotalrent }}</span> บาท</h6>
            </div>




</div>
</div>


          </div>
        </div>
      </div>


        </div>
     {% endblock %}
