{% extends 'backend/baseback.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-4 boxs">
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>รายงานการค้นหา</h6>
            </div>
 <div class="table-responsive">
     <table class="table align-items-center">
        <thead>
            <tr>
                <th></th>
                <th>หัวข้อ</th>
                <th>ข้อมูล</th>

            </tr>
        </thead>
     <tbody>
        <tr>
            {% for transaction in reportDay %}
                <tr>
                <td></td>
                    <td>วันที่</td>
                    <td>{{ transaction.date }}</td>
                </tr>
                <tr>
                <td></td>
                    <td>จำนวนการเช่า</td>
                    <td>{{ transaction.count }}</td>
                </tr>
                <tr>
                <td></td>
                    <td>ยอดรวมรายวัน</td>
                    <td>{{ transaction.total }}</td>
                </tr>

     {% endfor %}

        </tbody>
    </table>

            <table class="table ">

                <thead >
                <tr class="text-start">
<th></th><th>รหัสการเช่า</th><th>ยี่ห้อ</th><th>รุ่น</th><th>ราคา/วัน</th>
                </tr>
                </thead>
<tbody>
        {% for rent in list_rent %}
            <tr class="text-start">
            <td></td>
                    <td>&nbsp&nbsp{{ rent.rent_id }}</td>
                    <td>&nbsp&nbsp{{ rent.car.brand }}</td>
            <td>&nbsp&nbsp{{ rent.car.car_model }}</td>
            <td>&nbsp&nbsp{{ rent.price }}</td>
                </tr>

                 {% endfor %}
            </tbody>
            </table>

          </div>


        </div>
    </div>

</div>

</div>




{% endblock %}