<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
   <script src="../static/js/bootstrap.bundle.js"></script>

</head>
<body>
<nav>
<nav>
  <div class="nav-container">
    <div class="logo">
      <a href="home.html"><img src="../img/logo.png" alt="Logo"></a>
    </div>
    <ul class="nav-menu">
      <li><a href="index.html">หน้าหลัก</a></li>
      <li><a href="about_us.html">เกี่ยวกับเรา</a></li>
      <li><a href="Template/login.html">ประวัติการเช่า</a></li>
        <li><a href="Template/login.html">รถเข็น</a></li>
      <li><a href="Template/login.html" class="login">เข้าสู่ระบบ</a></li>
    </ul>
  </div>
</nav>
    </nav>
<h1 style="text-align: center;">เกี่ยวกับเรา</h1>
<p style="text-align: center;" >
    มุ่งมั่นพัฒนาผลิตภัณฑ์ที่มอบคุณค่าเหนือกว่าโดยให้ความสำคัญกับความต้องการของลูกค้าเป็นหลัก</p>
<div style="text-align: center;"><img  src="../img/car4.jpg" alt="My Image"></div>


<p style="text-align: center;">คือแนวความคิดที่แบรนด์ซูซูกิยึดถือ
    ด้วยความมุ่งหวังที่จะพัฒนาผลิตภัณฑ์ที่สามารถรองรับการใช้งานได้หลากหลายปรับเปลี่ยนตามความต้องการของผู้บริโภคในแต่ละยุคสมัยตลอดเวลา
    ที่ผ่านมาซูซูกิมุ่งมั่นพัฒนาสินค้าและบริการด้วยนวัตกรรมและมาตรฐานทางวิศวกรรมระดับสูงโดยสายการผลิตของซูซูกิใน ทุกๆ
    ที่ล้วนใช้เทคโนโลยีขั้นสูงซึ่งเป็นผลมาจากการพัฒนาและ
    วิจัยอย่างต่อเนื่องรวมทั้งความพยายามอย่างเต็มความสามารถของพนักงาน
    ทุกคนในทุกขั้นตอนการทำงานจนแน่ใจว่าผลิตภัณฑ์ที่ออกมาจะได้มาตรฐานขั้นสูงสุดของซูซูกิ</p>
<div style="text-align: center;"><img  src="../img/car5.jpg" alt="My Image"></div>


<h2 style="text-align: center;">เราคือใคร</h2>
<p style="text-align: center;">คิอแพลตฟอร์มซื้อ-ขายรถยนต์มือสองออนไลน์ที่ใหญ่ที่สุดในเอเชียตะวันออกเฉียงใต้
    ปัจจุบันมีสาขาอยู่ที่ประเทศมาเลเซีย,อินโดนีเซีย,ไทย และ
    ดาวอังคารโดยมีจุดมุ่งหมายเพื่อเปลี่ยนแปลงอุตสาหกรรมรถยนต์มือสองในภูมิภาคให้เป็นดิจิทัลโดยการปรับโฉมและยกระดับประสบการณ์ในการซื้อและ
    ขายรถยนต์นำเสนอบริการแบบครบวงจรตั้งแต่ต้นจนจบสำหรับลูกค้าตั้งแต่การตรวจสภาพรถยนต์,การโอนกรรมสิทธิ์ไปจนถึงบริการทางด้านสินเชื่อเพื่อมอบประสบการณ์ที่น่าเชื่อถือ,สะดวก,และรวดเร็ว</p>
<h2 style="text-align: center;">วิสัยทัศน์ของเรา</h2>
<p style="text-align: center;">เราต้องการขับเคลื่อนการหมุนเวียนรถยนต์มือสองในอุตสาหกรรมยานยนต์มือสองของเอเชียตะวันออกเฉียงใต้</p>

<div class="city">
    <h2 style="text-align: center;">รุ่นย่อยและราคา Haval H6</h2>
    <p>2023 - 2024 Haval H6 มีให้เลือกถึง 3 รุ่นย่อยพร้อมราคาเริ่มต้นอยู่ที่ THB 1,149,000 ถึง THB 1,699,000 ร
        ุ่นเริ่มต้นของ h6 คือ 2021 Haval H6 HEV Pro ที่ราคา THB 1,149,000
        ส่วนรุ่นท็อปสุด Haval H6 มาพร้อมราคา THB 1,699,000.</p>
    <div style="text-align: center;"><img src="../img/car6.jpg" alt="My Image"></div>

</div>

<div class="city">
    <h2 style="text-align: center;">รุ่นย่อยและราคา Honda BR-V</h2>
    <p>จ2023 - 2024 Honda BR-V มีให้เลือกถึง 2 รุ่นย่อยพร้อมราคาเริ่มต้นอยู่ที่ THB 915,000 ถึง THB 977,000
        รุ่นเริ่มต้นของ br-v คือ Honda BR-V E 2022 ที่ราคา THB 915,000 ส่วนรุ่นท็อปสุด Honda BR-V
        มาพร้อมราคา THB 977,000.</p>
    <div style="text-align: center;"><img src="../img/car7.jpg" alt="My Image"></div>

</div>

<div class="city">
    <h2 style="text-align: center;">รุ่นย่อยและราคา Toyota Yaris Ativ</h2>
    <p>ภ2023 - 2024 Toyota Yaris-Ativ มีให้เลือกถึง 4 รุ่นย่อยพร้อมราคาเริ่มต้นอยู่ที่ THB 539,000 ถึง THB 689,000 ร
        ุ่นเริ่มต้นของ yaris-ativ คือ Toyota Yaris Ativ 1.2 Sport CVT 2022 ที่ราคา THB 539,000 ส่วนรุ่นท็อปสุด
        Toyota Yaris-Ativ มาพร้อมราคา THB 689,000.</p>
    <div style="text-align: center;"><img src="images/co03.jpg.jpg" alt="My Image"></div>

</div>

<div class="city">
    <h2 style="text-align: center;">รรุ่นย่อยและราคา Honda City</h2>
    <p>2023 - 2024 Honda City มีให้เลือกถึง 5 รุ่นย่อยพร้อมราคาเริ่มต้นอยู่ที่ THB 579,500 ถึง THB 839,000
        city คือ Honda City 1.0 S 2021 ที่ราคา THB 579,500 ส่วนรุ่นท็อปสุด Honda City มาพร้อมราคา THB 839,000.</p>
    <div style="text-align: center;"><img  src="images/co04.jpg.jpg" alt="My Image"></div>

</div>

    <footer>
      <p>&copy; 2023 My renting vehicle  Store. All rights reserved.</p>
        <p>Contact Us 09-99999-99</p>
      <p>Line @RantingVehicle</p>
      <p>Facebook @RantingVehicle</p>
    </footer>
</body>

</html>
