{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'stylesheets/style.css' %}" rel="stylesheet">
    <link href="{% static 'mainstylesheets/css/bootstrap.css' %}">
    <script src="{% static 'mainstylesheets/js/bootstrap.js' %}"></script>
   <script src="{% static 'mainstylesheets/js/bootstrap.bundle.js' %}"></script>
    <style>
    .col-12 {
  width: 100%;
  float: left;
}

.col-md-6 {
  width: 50%;
  float: left;
}

/* media query for small screens */
@media only screen and (max-width: 767px) {
  .col-md-6 {
    width: 100%;
    float: none;
  }

  .menu-toggle {
    display: block;
  }

  .col-12:not(:first-child) {
    display: none;
  }
}
</style>

    <title>Home</title>
</head>
<body>
<div class="header">
  <button class="menu-toggle">Menu</button>
</div>


<div class="container">
  <div class="col-12 col-md-4">
    <!-- content for column 1 -->
      <div class="card-header ">
                  <p></p>
                 <h3 class="mb-0 sdorange" style="font-size: 2.5em">MENU <i class="fa-sharp fa-solid fa-bars"></i> </h3>

                  <hr>
              </div>
              <ul class="list-group list-group-flush ">
                  <li onclick="location.href='/';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4 class=" sdrl">หน้าหลัก <i class="fa-sharp fa-solid fa-house"></i>  </h4></li>
                 <li onclick="location.href='/ProfileApp/firstweb';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4 class="sdrl">ประวัติส่วนตัว</h4></li>
                 <li onclick="location.href='/ProfileApp/secondpage';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">ประวัติการศึกษา</h4></li>
                 <li onclick="location.href='/ProfileApp/thirdpage';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">สิ่งที่สนใจ</h4></li>
                  <li onclick="location.href='/ProfileApp/product';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">สินค้าที่ขาย</h4></li>
                  <li onclick="location.href='/ProfileApp/idol';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">บุคคลต้นแบบ</h4></li>
                    <li onclick="location.href='/ProfileApp/showmydata';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">mydata</h4></li>
                     <li onclick="location.href='/ProfileApp/showOurproduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">ShowProduct</h4></li>
                  <li onclick="location.href='/ProfileApp/newProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">newProduct</h4></li>
                    <li onclick="location.href='/ProfileApp/frmProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">frmProduct</h4></li>
                  <li onclick="location.href='/ProfileApp/inputProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">inputProduct</h4></li>
                    <li onclick="location.href='/ProfileApp/listProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">listProduct</h4></li>
             <li onclick="location.href='/ProfileApp/pro_retriveAll';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">pro_retriveAll</h4></li>

             <li onclick="location.href='/ProfileApp/showGoodsAll';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">showGoodsAll</h4></li>
              <li onclick="location.href='/ProfileApp/showCusAll';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">showCusAll</h4></li>

              </ul>

  </div>
  <div class="col-12 col-md-8">
    <!-- content for column 2 -->
       {% for c in carType %}

                                <div class="product-card d-flex flex-column">
                                    <img class="product-img" src="{{ c.picture.url }}" alt="">
                                    <div class="product-info">
                                        <h5 class="product-title">{{ c.type_name }}</h5>
                                        <p class="product-description">{{ c.type_id }}</p>
                                        <button class="btn btn-primary buy-btn">Buy now</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
  </div>


<script>
/* JavaScript to toggle columns */
document.querySelector('.menu-toggle').addEventListener('click', function() {
  document.querySelector('.col-12:not(:first-child)').classList.toggle('show');
});
</script>


</body>
</html>