<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
   <script src="../static/js/bootstrap.bundle.js"></script>
    <title>Title</title>
</head>
<body>
<nav>
<nav>
  <div class="nav-container">
    <div class="logo">
      <a href="home.html"><img src="../img/logo.png" alt="Logo"></a>
    </div>
    <ul class="nav-menu">
      <li><a href="../index.html">หน้าหลัก</a></li>
      <li><a href="About.html">เกี่ยวกับเรา</a></li>
    </ul>
  </div>
</nav>
    </nav>
<div class="register-form">
  <form>
    <h2>Register</h2>
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password">
    <input type="submit" value="Register">
    <a href="login.html" class="btn2">login</a>
  </form>
</div>

</body>
</html>