<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link href="../static/style.css" rel="stylesheet">
    <script src="../static/js"></script>
    <title>Title</title>
</head>
<body>
<nav>
<nav>
<div class="nav-container">
    <div class="logo">
      <a href="home.html"><img src="../img/logo.png" alt="Logo"></a>
    </div>
    <ul class="nav-menu">
      <li><a href="home.html">หน้าหลัก</a></li>
      <li><a href="About.html">เกี่ยวกับเรา</a></li>
      <li><a href="renting.html">ประวัติการเช่า</a></li>
        <li><a href="payment.html">รถเข็น</a></li>
      <li><a href="home.html" class="logout">ออกจากระบบ</a></li>
    </ul>
  </div>
</nav>
    </nav>
<div>renting history</div>

    <footer>
      <p>&copy; 2023 My renting vehicle  Store. All rights reserved.</p>
        <p>Contact Us 09-99999-99</p>
      <p>Line @RantingVehicle</p>
      <p>Facebook @RantingVehicle</p>
    </footer>
</body>
</html>