{% load static %}
<div class="footer-basic" >
        <footer >


            <div class="social"> <ion-icon  size="large" name="logo-facebook"> </ion-icon>&nbsp;&nbsp;&nbsp;<ion-icon size="large" name="logo-instagram"></ion-icon>
            &nbsp;&nbsp;<ion-icon  size="large" name="logo-youtube"></ion-icon> &nbsp;&nbsp;<ion-icon size="large" name="logo-snapchat"></ion-icon>    </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/">Profile</a></li>
                <li class="list-inline-item"><a href="/">Educational</a></li>
                <li class="list-inline-item"><a href="/">Interests</a></li>
                <li class="list-inline-item"><a href="/">Product</a></li>
                <li class="list-inline-item"><a href="/">Role Model</a></li>
            </ul>
            <p class="copyright" style="font-size: 12pt" >Frank Sport Co., Ltd. © 2022</p>
        </footer>
    </div>